# Binaries for programs and plugins
# Dependency directories
assets/data/expenses_min.csv
assets/data/expenses.json
assets/data/export_transactions.csv

# Remove after push
# git rm --cached assets/data/circles.csv
